main {
    font-family: sans-serif;
}
.nav-links{
    display: flex;
    flex-direction: column;
}

ul{
    padding-left: 0;
}

li {
    list-style-type: none;
    margin: .5em 0;
}

li a {
    display: inline-block;
    background: lightgray;
    padding: 1em;
    width: 100%;
    text-align: center;
    color: blue;
    text-decoration: underline;
}

a {
    display: inline-block;
    padding: 1em;
    width: 100%;
    background-color: lightblue;
    text-decoration: none;
    text-align: center;
    border-style: solid;
    border-color: lightgray;
    color: black;
}

h1 {
    text-align: center;
    width: 110%;
}

img {
    width: 339px;
    height: 224px;
    border-style: solid;
}