main {
    font-family: sans-serif;
}
.nav-links{
    display: flex;
    flex-direction: column;
}

ul{
    padding-left: 0;
}

li {
    list-style-type: none;
    margin: .5em 0;
}

li a {
    display: inline-block;
    background: lightgray;
    padding: 1em;
    width: 100%;
    text-align: center;
}